/* ol.mapz.control.Filesearchcontrol */

.mapz-control-search {
    margin: 8px;
    width: 40%;
}

.aa-Form {
    display: flex;
}

.aa-InputWrapperPrefix {
    display: none;
}

.aa-InputWrapper {
    position: relative;
    width: 100%;
}

.aa-Input {
    border: 0;
    font: inherit;
    height: 2em;
    padding: 0;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    color: rgb(70 70 70);
    padding: 0 0.5em 0 0.5em;
}

.aa-Input:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
}

.aa-Input::-webkit-search-decoration,
.aa-Input::-webkit-search-cancel-button,
.aa-Input::-webkit-search-results-button,
.aa-Input::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.aa-InputWrapperSuffix {
    align-items: center;
    display: flex;
    height: 2em;
}

.aa-InputWrapperSuffix .aa-ClearButton {
    margin: 0 0 0 8px;
}

.aa-Panel {
    margin: 8px 0 0 0;
    background: white;
}

.aa-PanelLayout {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 8px;
    position: relative;
    text-align: left;
}

.aa-Panel--scrollable {
    margin: 0;
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: white #eaeaea;
    scrollbar-width: thin;
}

.aa-List {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.aa-Item {
    cursor: pointer;
    min-height: 1em;
    padding: 0.2em;
}